:root {
  --color-primary: #ff6600;
  --color-secondary: #ddd;
  --color-dark: #222;
  --color-light: #fff;
  --color-gradient: linear-gradient(0deg, #c0661c 0%, #ef6c00 100%);
  --color-background-gradient: linear-gradient(0deg, #FFF 0%, #EEE 100%);
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1400px;
}
