<section class="number-section">
  <div class="number-container">
    <div class="number" id="first-number-top">
      <div class="led horizontal inactive top" id="top-1"></div>
      <div class="led vertical inactive top-left" id="top-left-1"></div>
      <div class="led vertical inactive top-right" id="top-right-1"></div>
      <div class="led horizontal center inactive middle-top" id="middle-top-1"></div>
    </div>
    <div class="number" id="first-number-bottom">
      <div class="led horizontal center inactive middle-bottom" id="middle-bottom-1"></div>
      <div class="led horizontal inactive bottom" id="bottom-1"></div>
      <div class="led vertical inactive bottom-left" id="bottom-left-1"></div>
      <div class="led vertical inactive bottom-right" id="bottom-right"></div>
    </div>
  </div>

  <!--<div class="number-container">-->
    <!--<div class="number" id="first-number"></div>-->
  <!--</div>-->
  <!--<div class="number-container">-->
    <!--<div class="number" id="first-number"></div>-->
  <!--</div>-->
</section>
