<div class="number-page">
  <div class="errors-container hidden d-abs top-80"></div>
  <div id="guess-container" class="hidden d-abs top-30"></div>
  <section>
  <div class="number-section" id="first-number">
    <div class="number-container">
      <div class="number" id="first-number-top">
        <div class="led horizontal inactive top" id="top-1"></div>
        <div class="led vertical inactive top-left" id="top-left-1"></div>
        <div class="led vertical inactive top-right" id="top-right-1"></div>
        <div class="led horizontal center inactive middle-top" id="middle-top-1"></div>
      </div>
      <div class="number" id="first-number-bottom">
        <div class="led horizontal center inactive middle-bottom" id="middle-bottom-1"></div>
        <div class="led horizontal inactive bottom" id="bottom-1"></div>
        <div class="led vertical inactive bottom-left" id="bottom-left-1"></div>
        <div class="led vertical inactive bottom-right" id="bottom-right-1"></div>
      </div>
    </div>
  </div>

  <div class="number-section hidden" id="second-number">
    <div class="number-container">
      <div class="number">
        <div class="led horizontal inactive top" id="top-2"></div>
        <div class="led vertical inactive top-left" id="top-left-2"></div>
        <div class="led vertical inactive top-right" id="top-right-2"></div>
        <div class="led horizontal center inactive middle-top" id="middle-top-2"></div>
      </div>
      <div class="number">
        <div class="led horizontal center inactive middle-bottom" id="middle-bottom-2"></div>
        <div class="led horizontal inactive bottom" id="bottom-2"></div>
        <div class="led vertical inactive bottom-left" id="bottom-left-2"></div>
        <div class="led vertical inactive bottom-right" id="bottom-right-2"></div>
      </div>
    </div>
  </div>

  <div class="number-section hidden" id="third-number">
    <div class="number-container">
      <div class="number">
        <div class="led horizontal inactive top" id="top-3"></div>
        <div class="led vertical inactive top-left" id="top-left-3"></div>
        <div class="led vertical inactive top-right" id="top-right-3"></div>
        <div class="led horizontal center inactive middle-top" id="middle-top-3"></div>
      </div>
      <div class="number">
        <div class="led horizontal center inactive middle-bottom" id="middle-bottom-3"></div>
        <div class="led horizontal inactive bottom" id="bottom-3"></div>
        <div class="led vertical inactive bottom-left" id="bottom-left-3"></div>
        <div class="led vertical inactive bottom-right" id="bottom-right-3"></div>
      </div>
    </div>
  </div>
  </section>
</div>
